body {
	text-align: center;
	font-size: 62.5%;
	font-family: verdana, arial, sans-serif;
}
div#contain {
	width: 1000em;
}
dt {
	clear: left;
	display: block;
	padding: 2em 0;
	background: url(../images/vLine.gif) 50% repeat-y;
	border-bottom: 1px solid #000;
	margin: 0 .3em 0 .3em;
}
dd {
	border: none;
	width: auto;
	background: none;
	margin: -1px .3em 0 .3em;
}
dl dd dl dd {
	float: left;
	background: url(../images/vLine.gif) 50% repeat-y;
	padding-top: 2em;
}

dd:last-child, dd:last-child dl dt:first-child {
	background: url(../images/vLinelast.gif) 50% repeat-y;	
	margin-right: 0;
}
dt:first-child + dd {
	background: url(../images/vLinefirst.gif) 50% repeat-y;
	margin: -1px .3em 0 .3em;
}
dt:first-child + dd dl dt, dt:first-child + dd dl dt:first-child + dd   {
	background: url(../images/vLinefirst.gif) 50% repeat-y;
	margin-left: 0;
}

a {
	display: block;
	background: #fff;
	border: 1px solid #000;
	padding: 5px;
}

dt a {
	width: 10em;
	margin: 0 auto;
}
dl#sitemap dt {
	padding-top: 0;
}
dl#sitemap dl dt {
	padding: 2em 0;
}
dl {
	float: left;
	
	}

